<% if @driver.nil? %>
  <h1>Error 404 - Not Found</h1>
<% else %>
  <div class="content">
    <div class="driver-box">
      <%= image_tag "drivers/#{@driver.id}_logo.png", class: 'logo' %>
      <%= image_tag "drivers/#{@driver.id}_photo.png", class: 'photo' %>
    </div>
  </div>
<% end %>
