/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



@font-face {
    font-family: 'Formula1-Regular';
    src: url('Formula1-Regular.ttf');
}

@font-face {
    font-family: 'Formula1-Bold';
    src: url('Formula1-Bold.ttf');
}

@font-face {
    font-family: 'Formula1-Black';
    src: url('Formula1-Black.ttf');
}

@font-face {
    font-family: 'Formula1-Wide';
    src: url('Formula1-Wide.ttf');
}


nav {
    padding: 15px;
    color: #ffffff;
    font-family: 'Formula1-Wide';
    background-color: #e10600;
    border-radius: 15px;

}

main {
    font-family: 'Formula1-Regular';
}

.circuits-table, .standings-table {
    padding: 5px;
    border-collapse: collapse; 
}

.circuits-table td, .standings-table td {
    padding: 10px;
}

.tr-1 td {
    background-color: #ebebeb;
}

.circuits-table th, .standings-table th{
    padding-bottom: 5px;
    border-bottom: 5px solid #e10600;
}

.nav-main {
    display: flex; 
    flex-direction: row;
 
}

.nav-main a {
    color: #ffffff;
    text-decoration: none;
}

.links {
    padding-left: 15px;
}

.links a{
    font-family: 'Formula1-Regular';

    color: #ffffff;
    text-decoration: none;

}

td a {
    color: #e10600;
    text-decoration: none;
}

tbody {
    font-size: 12px;
}

.tr-1 td, .tr-0 td  {
    padding: 30px;

}

th {
    padding: 25px;
}

.content {
    display: flex;
    align-items: center;
}

.circuit {
    max-width: 50%;
    max-height: 50%;
}

.next-circuit {
    max-width: 50%;
    max-height: 50%;
}

.next-race p {
    margin-bottom: 0px;
}

.next-race h1 {
    margin-top: 0px;
    display:inline-block; 
    border-bottom: 5px solid #e10600;
}
.details {
    max-width: 25%;
}

.details a {
    color: #e10600;
    text-decoration: none;
}

.circuit-box {
    display:inline-flex; 

}


/* DRIVERS */

.driver-box {
    display: flex;
}

.logo {
    width: 160px;
    height: 90px;
}

.photo {
    width: 400px;

}


/* BET SHOW */

.mini-logo {
    width: 53.5px;
    height: 30px;
}


.mini-photo {
    width: 120px;
}
